:root {
    --primary-color: #2b2b2b;
    --primary-bg-color: #132a63;
    --light-color: #fff;
    --pop-color: #db5f00;
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    justify-content: space-between;
    width: 100%;
    display: flex;
    align-items: center;
}

.logo-home {
    display: flex;
    align-items: center;
}

.logo:hover {
    transform: scale(1.05);
    opacity: 70%;
}

header h1 {
    line-height: 3;
    margin: 0;
}

footer {
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

header, footer {
    background-color:  var(--primary-color);
    color: var(--light-color);
}

body {
    font-family: helvetica, sans-serif;
    min-height: 100vh;
    line-height: 1.5;
    background: var(--primary-bg-color);
    color: var(--pop-color);
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.center-text {
    text-align: center;
}

main {
    padding: 1rem;
    margin-top: 110px;
    margin-bottom: 80px;
}

h1 {
    margin: 0;
    margin-left: 10px;
    color: var(--light-color);
}

h2 {
    color: var(--pop-color);
}

.logo {
    max-width: 100px;
    margin-right: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.button {
    margin-right: 15px;
    padding: 15px 25px;
    background-color: var(--pop-color);
    color: var(--light-color);
    font-weight: bolder;
    border-radius: 5px;
}

.button:hover {
    opacity: 50%;
}

.content {
    justify-content: space-between;
}

.box {
    margin: 15px;
}

.resume-sec {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.resume {
    flex-shrink: 0;
    margin: 0 30px;
    width: calc(50% - 20px);
    max-width: 400px;
    text-align: center;
}

.resume img {
    max-width: 100%;
    height: auto;
    width: 100%;
}

.resume:hover {
    transform: scale(1.05);
}

.navigate {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.navigate .button {
    width: 50%;
    padding: 100px;
    background-color: var(--pop-color);
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    margin: 10px;
    font-size: 2rem;
}
